<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tajemnicze wehikuły miejskie</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <h2>Tajemnicze wehikuły miejskie</h2>
        <div>
            <a href="/qr">kody QR</a>
            <a href="/buses">lokalizacje autobusów</a>
        </div>
    </main>
</body>
</html>