<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generator kodów QR</title>
    <link rel="stylesheet" href="css/qr.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script>
        function generate(){
            const id = document.getElementById('id').value
            const type = document.getElementById('type').value

            document.getElementById('result').src = `/qrCode?id=${id}&tracktype=${type}`
        }
        addEventListener('keyup', (event)=>{
            if(event.key == "Enter" && document.activeElement.id == "id"){
                generate()
            }
        })
        function printImg() {
            const pwin = window.open(document.getElementById("result").src,"_blank");
            pwin.onload = ()=>{pwin.window.print()}
        }
    </script>
</head>
<body>
    <main>
        <h2>Generator kodów QR</h2>
        <input type="text" id="id" placeholder="Nr. taborowy" autocomplete="off">
        <select id="type">
            <option value="0">Autobus</option>
            <option value="1">Tramwaj</option>
        </select>
        <input type="button" value="generuj" onclick="generate()">
        <img id="result" src="">
        <input type="button" value="drukuj" onclick="printImg()">

    </main>
    <div class="about">
        <a href="/" class="fas fa-undo-alt"></a>
        <a href="https://github.com/szedann/ztmGeo" target="_blank" class="fab fa-github"></a>
    </div>
</body>
</html>