:root{
    --bg-color: #dddddd;
    --txt-color: rgb(0, 0, 0);
    --bg-gradient: linear-gradient(10deg, #2b2b2b, #050505);
    --accnt-color: rgb(255, 255, 0);
}

body{
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}

main{
    background-color: rgb(255, 255, 255);
    border-left: 5px solid yellow;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: yellow;
}

.about{
    color: black;
    position: fixed;
    bottom: 60px;
    left: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    z-index: 10;
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    border-left: 5px solid yellow;
}

.about a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin: 5px;
    transition: transform 100ms;
}

.about a:hover{
    transform: scale(1.2);
}

.popup-background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.75);
    /* backdrop-filter: blur(2px); */
}

.popup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(30vw, fit-content, 97vw);
    z-index: 400;
    background-color: white;
    border-left: 5px solid yellow;
    color: black;
}

.popup h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}
.popup div{
    margin: 20px;
    width: fit-content;
}
.popup div a{
    color: inherit;
}
.popupnav{
    margin: 10px auto;
}
.popupnav a{
    cursor: pointer;
    background-color: yellow;
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 8px 25px;
}

@media (max-width: 766px) {
    .popup{
        width: 97vw;
    }
}